<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dap.FlatBuffers" version="1.0.0" targetFramework="net461" />
  <package id="Flurl" version="2.8.2" targetFramework="net461" />
  <package id="Flurl.Http" version="2.4.2" targetFramework="net461" />
  <package id="Guard.Net" version="1.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="ProximaX.Sirius.Sdk" version="0.2.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>